/*
 * Variable
 */
/* Colors */
.skin-purple a {
    color: #fbaf3b;
}

.skin-purple a:hover,
.skin-purple a:focus {
    color: #EC9704;
}

.skin-purple .badge-primary {
    background-color: #fbaf3b;
}

.skin-purple .for-mobile,
.skin-purple .for-tablet {
    display: none !important;
}

.skin-purple .breadcrumb li a {
    color: #fbaf3b;
}

.skin-purple .pagination li.active a {
    background-color: #fbaf3b;
}

.skin-purple .pagination li.active a:hover,
.skin-purple .pagination li.active a:focus {
    background-color: #fbaf3b;
}

.skin-purple .btn-primary {
    background-color: #fbaf3b;
    color: #fff;
    border-color: #fbaf3b;
}

.skin-purple .btn-primary:disabled,
.skin-purple .btn-primary.disabled,
.skin-purple .btn-primary:hover,
.skin-purple .btn-primary:active,
.skin-purple .btn-primary:active:hover,
.skin-purple .btn-primary:active:focus,
.skin-purple .btn-primary:focus {
    color: #fff;
    background-color: #EC9704;
    border-color: #EC9704;
}

.skin-purple .btn-primary:active:hover {
    background-color: #EC9704;
}

.skin-purple .btn-magz {
    color: #F7C815;
    border-color: #eff6a9;
}

.skin-purple .btn-magz:after {
    background-color: #F7C815;
}

.skin-purple .btn-magz.white {
    color: #fff;
}

.skin-purple .btn-magz.white:after {
    background-color: #fff;
}

.skin-purple .btn-magz.white:focus,
.skin-purple .btn-magz.white:hover {
    color: #fbaf3b !important;
}

.skin-purple .firstbar .search .help-block div {
    color: #fbaf3b;
}

.skin-purple .firstbar .nav-icons li a:hover {
    color: #fbaf3b;
}

.skin-purple .headline .item a .badge {
    background-color: #fbaf3b;
}

.skin-purple .article h2 a:hover {
    color: #fbaf3b;
}

.skin-purple article .category a {
    color: #fbaf3b;
}

.skin-purple article footer .btn-primary {
    background-color: transparent;
    border-color: #fbaf3b;
    color: #eff6a9;
}

.skin-purple article footer .btn-primary:hover {
    color: #fff;
}

.skin-purple article footer .btn-primary:hover:after {
    background-color: #fbaf3b;
}

.skin-purple .love {
    color: #64856c;
}

.skin-purple .love.active {
    color: #F7C815;
}

.skin-purple .best-of-the-week .article h2 a:hover {
    color: #fbaf3b;
}

.skin-purple .featured {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 550px;
    margin-bottom: 20px;
    overflow: hidden;
}

.skin-purple .featured .inner {
    padding: 20px;
}

.skin-purple .featured figure {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.skin-purple .featured .overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    background-image: linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
    background-image: -webkit-linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
}

.skin-purple .featured .details {
    padding: 20px 30px;
    position: absolute;
    bottom: 10px;
}

.skin-purple .featured .details h1,
.skin-purple .featured .details .category,
.skin-purple .featured .details .time {
    color: #fff;
    margin: 0;
}

.skin-purple .featured .details .category {
    margin-bottom: 10px;
}

.skin-purple .featured .details .category a {
    font-size: 12px;
    font-weight: 400;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}

.skin-purple .featured .details .category a:hover {
    opacity: .8;
}

.skin-purple .featured .details h1 {
    margin-bottom: 5px;
    text-transform: capitalize;
    line-height: 1.4em;
    font-size: 28px;
    font-weight: 700;
}

.skin-purple .featured .details h1 a {
    text-decoration: none;
    color: #fff;
}

.skin-purple .topbar ul li a:hover {
    color: #eff6a9;
}

.skin-purple .menu ul>li>a .badge {
    background-color: #fbaf3b;
}

.skin-purple .menu ul>li>a:after {
    background-color: #fbaf3b;
}

.skin-purple .menu ul>li .dropdown-menu>li.active a:after {
    background-color: #fbaf3b;
}

.skin-purple .menu ul>li .dropdown-menu>li>a:after {
    opacity: 0;
}

.skin-purple .menu ul>li .dropdown-menu>li:hover>a:after {
    background-color: #fbaf3b;
    opacity: 1;
}

.skin-purple .article-list .badge {
    background-color: #fbaf3b;
}

.skin-purple .article-list .details h1 a:hover {
    color: #eff6a9;
}

.skin-purple .title-col:after {
    background-color: #fbaf3b;
}

.skin-purple .article-mini .detail .category a {
    color: #fbaf3b;
}

.skin-purple .tags-list li a:after {
    background-color: #fbaf3b;
}

.skin-purple aside .aside-title {
    font-size: 16px;
    position: relative;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.skin-purple aside .aside-title .all {
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 700;
    color: #002b12;
    top: 5px;
}

.skin-purple aside .aside-title .all i {
    color: #fbaf3b;
    margin-left: 5px;
}

.skin-purple aside .aside-title:after {
    content: ' ';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: #fbaf3b;
}

.skin-purple aside .newsletter .icon.error h1 {
    color: #fbaf3b;
}

.skin-purple aside .newsletter .icon.error i:before {
    color: #fbaf3b;
}

.skin-purple aside .nav li.active a {
    border-top: 2px solid #fbaf3b !important;
}

.skin-purple aside .nav li.active a i {
    color: #fbaf3b;
}

.skin-purple .article-fw .details h1 a:hover {
    color: #eff6a9;
}

.skin-purple .comments .detail .link a {
    color: #fbaf3b;
}

.skin-purple footer.footer {
    border-top: 5px solid #fbaf3b;
}

.skin-purple footer.footer .block .block-title:after {
    background-color: #eff6a9;
}

.skin-purple footer.footer .footer-nav-horizontal li a:hover {
    color: #eff6a9;
}

.skin-purple footer.footer .footer-nav li a:hover {
    color: #eff6a9;
}

.skin-purple footer.footer .tags li a:hover {
    border-color: #fbaf3b;
}

.skin-purple footer.footer .copyright {
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid #222;
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skin-purple footer.footer .copyright a {
    text-decoration: underline;
}

.skin-purple footer.footer .copyright div {
    margin-top: 7px;
}

.skin-purple footer.footer .copyright div i {
    padding: 0 3px;
}

.skin-purple footer.footer .article-mini {
    margin-bottom: 23px;
}

.skin-purple footer.footer .article-mini .inner {
    border-bottom: 0;
}

.skin-purple footer.footer .article-mini h1 {
    font-size: 14px;
}

.skin-purple footer.footer .article-mini h1 a {
    color: #ddd;
}

.skin-purple footer.footer .btn-magz {
    border-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 13px;
    padding-right: 13px;
}

.skin-purple section.single .line {
    margin-top: 30px;
    margin-bottom: 30px;
}

.skin-purple section.single article.main-article header .details li a {
    color: #fbaf3b;
}

.skin-purple section.single article.main-article .main a {
    color: #fbaf3b;
}

.skin-purple section.single article.main-article footer .col:last-child .love.active {
    background-color: #fbaf3b;
    color: #fff;
    border-color: #fbaf3b;
}

.skin-purple section.single footer .tags li a:hover {
    color: #fbaf3b;
}

.skin-purple .sharing ul li.count {
    color: #fbaf3b;
}

.skin-purple .page .element-block .element-title:after {
    background-color: #fbaf3b;
}

.skin-purple .page .element-block .colors li.primary {
    background-color: #fbaf3b;
}

.skin-purple .page .element-block .colors li.secondary {
    background-color: #EC9704;
}

.skin-purple .carousel-1 .owl-dots .owl-dot.active span {
    background-color: #fbaf3b;
}

.skin-purple .carousel-1 .owl-nav .owl-prev:hover,
.skin-purple .carousel-1 .owl-nav .owl-next:hover {
    background-color: #fbaf3b;
}

.skin-purple .nav-tabs-group .nav-tabs-list li.active a {
    border-bottom: 2px solid #fbaf3b;
}

.skin-purple .nav-tabs-group .form-control {
    height: 30px;
    padding: 0;
    margin-top: 3px;
}

.skin-purple .nav-tabs-group .nav-tabs-right {
    float: right;
    display: inline-block;
    width: 100px;
}

.skin-purple .featured-author .featured-author-body .featured-author-count .item .name {
    color: #fbaf3b;
}

/*
 * Variable
 */
/* Colors */
.skin-blue a {
    color: #addbc0;
}

.skin-blue a:hover,
.skin-blue a:focus {
    color: #f6d0da;
}

.skin-blue .badge-primary {
    background-color: #addbc0;
}

.skin-blue .for-mobile,
.skin-blue .for-tablet {
    display: none !important;
}

.skin-blue .breadcrumb li a {
    color: #addbc0;
}

.skin-blue .pagination li.active a {
    background-color: #addbc0;
}

.skin-blue .pagination li.active a:hover,
.skin-blue .pagination li.active a:focus {
    background-color: #addbc0;
}

.skin-blue .btn-primary {
    background-color: #addbc0;
    color: #fff;
    border-color: #addbc0;
}

.skin-blue .btn-primary:disabled,
.skin-blue .btn-primary.disabled,
.skin-blue .btn-primary:hover,
.skin-blue .btn-primary:active,
.skin-blue .btn-primary:active:hover,
.skin-blue .btn-primary:active:focus,
.skin-blue .btn-primary:focus {
    color: #fff;
    background-color: #efac3d;
    border-color: #efac3d;
}

.skin-blue .btn-primary:active:hover {
    background-color: #efac3d;
}

.skin-blue .btn-magz {
    color: #addbc0;
    border-color: #addbc0;
}

.skin-blue .btn-magz:after {
    background-color: #addbc0;
}

.skin-blue .btn-magz.white {
    color: #fff;
}

.skin-blue .btn-magz.white:after {
    background-color: #fff;
}

.skin-blue .btn-magz.white:focus,
.skin-blue .btn-magz.white:hover {
    color: #addbc0 !important;
}

.skin-blue .firstbar .search .help-block div {
    color: #addbc0;
}

.skin-blue .firstbar .nav-icons li a:hover {
    color: #addbc0;
}

.skin-blue .headline .item a .badge {
    background-color: #addbc0;
}

.skin-blue .article h2 a:hover {
    color: #addbc0;
}

.skin-blue article .category a {
    color: #addbc0;
}

.skin-blue article footer .btn-primary {
    background-color: transparent;
    border-color: #addbc0;
    color: #efac3d;
}

.skin-blue article footer .btn-primary:hover {
    color: #fff;
}

.skin-blue article footer .btn-primary:hover:after {
    background-color: #addbc0;
}

.skin-blue .love {
    color: #efac3d;
}

.skin-blue .love.active {
    color: #f6d0da;
}

.skin-blue .best-of-the-week .article h2 a:hover {
    color: #addbc0;
}

.skin-blue .featured {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 550px;
    margin-bottom: 20px;
    overflow: hidden;
}

.skin-blue .featured .inner {
    padding: 20px;
}

.skin-blue .featured figure {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.skin-blue .featured .overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    background-image: linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
    background-image: -webkit-linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
}

.skin-blue .featured .details {
    padding: 20px 30px;
    position: absolute;
    bottom: 10px;
}

.skin-blue .featured .details h1,
.skin-blue .featured .details .category,
.skin-blue .featured .details .time {
    color: #fff;
    margin: 0;
}

.skin-blue .featured .details .category {
    margin-bottom: 10px;
}

.skin-blue .featured .details .category a {
    font-size: 12px;
    font-weight: 400;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}

.skin-blue .featured .details .category a:hover {
    opacity: .8;
}

.skin-blue .featured .details h1 {
    margin-bottom: 5px;
    text-transform: capitalize;
    line-height: 1.4em;
    font-size: 28px;
    font-weight: 700;
}

.skin-blue .featured .details h1 a {
    text-decoration: none;
    color: #fff;
}

.skin-blue .topbar ul li a:hover {
    color: #efac3d;
}

.skin-blue .menu ul>li>a .badge {
    background-color: #addbc0;
}

.skin-blue .menu ul>li>a:after {
    background-color: #addbc0;
}

.skin-blue .menu ul>li .dropdown-menu>li.active a:after {
    background-color: #addbc0;
}

.skin-blue .menu ul>li .dropdown-menu>li>a:after {
    opacity: 0;
}

.skin-blue .menu ul>li .dropdown-menu>li:hover>a:after {
    background-color: #addbc0;
    opacity: 1;
}

.skin-blue .article-list .badge {
    background-color: #addbc0;
}

.skin-blue .article-list .details h1 a:hover {
    color: #f6d0da;
}

.skin-blue .title-col:after {
    background-color: #addbc0;
}

.skin-blue .article-mini .detail .category a {
    color: #addbc0;
}

.skin-blue .tags-list li a:after {
    background-color: #addbc0;
}

.skin-blue aside .aside-title {
    font-size: 16px;
    position: relative;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.skin-blue aside .aside-title .all {
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 700;
    color: #0a0a07;
    top: 5px;
}

.skin-blue aside .aside-title .all i {
    color: #addbc0;
    margin-left: 5px;
}

.skin-blue aside .aside-title:after {
    content: ' ';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: #addbc0;
}

.skin-blue aside .newsletter .icon.error h1 {
    color: #addbc0;
}

.skin-blue aside .newsletter .icon.error i:before {
    color: #addbc0;
}

.skin-blue aside .nav li.active a {
    border-top: 2px solid #addbc0 !important;
}

.skin-blue aside .nav li.active a i {
    color: #addbc0;
}

.skin-blue .article-fw .details h1 a:hover {
    color: #addbc0;
}

.skin-blue .comments .detail .link a {
    color: #addbc0;
}

.skin-blue footer.footer {
    border-top: 5px solid #addbc0;
}

.skin-blue footer.footer .block .block-title:after {
    background-color: #addbc0;
}

.skin-blue footer.footer .footer-nav-horizontal li a:hover {
    color: #addbc0;
}

.skin-blue footer.footer .footer-nav li a:hover {
    color: #f6d0da;
}

.skin-blue footer.footer .tags li a:hover {
    border-color: #f6d0da;
}

.skin-blue footer.footer .copyright {
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid #222;
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skin-blue footer.footer .copyright a {
    text-decoration: underline;
}

.skin-blue footer.footer .copyright div {
    margin-top: 7px;
}

.skin-blue footer.footer .copyright div i {
    padding: 0 3px;
}

.skin-blue footer.footer .article-mini {
    margin-bottom: 23px;
}

.skin-blue footer.footer .article-mini .inner {
    border-bottom: 0;
}

.skin-blue footer.footer .article-mini h1 {
    font-size: 14px;
}

.skin-blue footer.footer .article-mini h1 a {
    color: #ddd;
}

.skin-blue footer.footer .btn-magz {
    border-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 13px;
    padding-right: 13px;
}

.skin-blue section.single .line {
    margin-top: 30px;
    margin-bottom: 30px;
}

.skin-blue section.single article.main-article header .details li a {
    color: #addbc0;
}

.skin-blue section.single article.main-article .main a {
    color: #addbc0;
}

.skin-blue section.single article.main-article footer .col:last-child .love.active {
    background-color: #addbc0;
    color: #fff;
    border-color: #626EEF;
}

.skin-blue section.single footer .tags li a:hover {
    color: #f6d0da;
}

.skin-blue .sharing ul li.count {
    color: #addbc0;
}

.skin-blue .page .element-block .element-title:after {
    background-color: #addbc0;
}

.skin-blue .page .element-block .colors li.primary {
    background-color: #addbc0;
}

.skin-blue .page .element-block .colors li.secondary {
    background-color: #efac3d;
}

.skin-blue .carousel-1 .owl-dots .owl-dot.active span {
    background-color: #addbc0;
}

.skin-blue .carousel-1 .owl-nav .owl-prev:hover,
.skin-blue .carousel-1 .owl-nav .owl-next:hover {
    background-color: #addbc0;
}

.skin-blue .nav-tabs-group .nav-tabs-list li.active a {
    border-bottom: 2px solid #addbc0;
}

.skin-blue .nav-tabs-group .form-control {
    height: 30px;
    padding: 0;
    margin-top: 3px;
}

.skin-blue .nav-tabs-group .nav-tabs-right {
    float: right;
    display: inline-block;
    width: 100px;
}

.skin-blue .featured-author .featured-author-body .featured-author-count .item .name {
    color: #addbc0;
}

/*
 * Variable
 */
/* Colors */
.skin-orange a {
    color: #530127;
}

.skin-orange a:hover,
.skin-orange a:focus {
    color: #F8A86A;
}

.skin-orange .badge-primary {
    background-color: #530127;
}

.skin-orange .for-mobile,
.skin-orange .for-tablet {
    display: none !important;
}

.skin-orange .breadcrumb li a {
    color: #530127;
}

.skin-orange .pagination li.active a {
    background-color: #530127;
}

.skin-orange .pagination li.active a:hover,
.skin-orange .pagination li.active a:focus {
    background-color: #530127;
}

.skin-orange .btn-primary {
    background-color: #530127;
    color: #fff;
    border-color: #530127;
}

.skin-orange .btn-primary:disabled,
.skin-orange .btn-primary.disabled,
.skin-orange .btn-primary:hover,
.skin-orange .btn-primary:active,
.skin-orange .btn-primary:active:hover,
.skin-orange .btn-primary:active:focus,
.skin-orange .btn-primary:focus {
    color: #fff;
    background-color: #B54213;
    border-color: #B54213;
}

.skin-orange .btn-primary:active:hover {
    background-color: #F8A86A;
}

.skin-orange .btn-magz {
    color: #530127;
    border-color: #530127;
}

.skin-orange .btn-magz:after {
    background-color: #530127;
}

.skin-orange .btn-magz.white {
    color: #fff;
}

.skin-orange .btn-magz.white:after {
    background-color: #fff;
}

.skin-orange .btn-magz.white:focus,
.skin-orange .btn-magz.white:hover {
    color: #530127 !important;
}

.skin-orange .firstbar .search .help-block div {
    color: #530127;
}

.skin-orange .firstbar .nav-icons li a:hover {
    color: #530127;
}

.skin-orange .headline .item a .badge {
    background-color: #530127;
}

.skin-orange .article h2 a:hover {
    color: #F8A86A;
}

.skin-orange article .category a {
    color: #530127;
}

.skin-orange article footer .btn-primary {
    background-color: transparent;
    border-color: #530127;
    color: #530127;
}

.skin-orange article footer .btn-primary:hover {
    color: #fff;
}

.skin-orange article footer .btn-primary:hover:after {
    background-color: #530127;
}

.skin-orange .love {
    color: #F8A86A;
}

.skin-orange .love.active {
    color: #B54213;
}

.skin-orange .best-of-the-week .article h2 a:hover {
    color: #F8A86A;
}

.skin-orange .featured {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 550px;
    margin-bottom: 20px;
    overflow: hidden;
}

.skin-orange .featured .inner {
    padding: 20px;
}

.skin-orange .featured figure {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.skin-orange .featured .overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: transparent;
    background-image: linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
    background-image: -webkit-linear-gradient(transparent 0%, transparent 50%, rgba(0, 0, 0, 0.1) 56%, rgba(0, 0, 0, 0.6) 93%, rgba(0, 0, 0, 0.59) 100%);
}

.skin-orange .featured .details {
    padding: 20px 30px;
    position: absolute;
    bottom: 10px;
}

.skin-orange .featured .details h1,
.skin-orange .featured .details .category,
.skin-orange .featured .details .time {
    color: #fff;
    margin: 0;
}

.skin-orange .featured .details .category {
    margin-bottom: 10px;
}

.skin-orange .featured .details .category a {
    font-size: 12px;
    font-weight: 400;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 30px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}

.skin-orange .featured .details .category a:hover {
    opacity: .8;
}

.skin-orange .featured .details h1 {
    margin-bottom: 5px;
    text-transform: capitalize;
    line-height: 1.4em;
    font-size: 28px;
    font-weight: 700;
}

.skin-orange .featured .details h1 a {
    text-decoration: none;
    color: #fff;
}

.skin-orange .topbar ul li a:hover {
    color: #F8A86A;
}

.skin-orange .menu ul>li>a .badge {
    background-color: #530127;
}

.skin-orange .menu ul>li>a:after {
    background-color: #530127;
}

.skin-orange .menu ul>li .dropdown-menu>li.active a:after {
    background-color: #530127;
}

.skin-orange .menu ul>li .dropdown-menu>li>a:after {
    opacity: 0;
}

.skin-orange .menu ul>li .dropdown-menu>li:hover>a:after {
    background-color: #530127;
    opacity: 1;
}

.skin-orange .article-list .badge {
    background-color: #530127;
}

.skin-orange .article-list .details h1 a:hover {
    color: #F8A86A;
}

.skin-orange .title-col:after {
    background-color: #530127;
}

.skin-orange .article-mini .detail .category a {
    color: #530127;
}

.skin-orange .tags-list li a:after {
    background-color: #530127;
}

.skin-orange aside .aside-title {
    font-size: 16px;
    position: relative;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.skin-orange aside .aside-title .all {
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 700;
    color: #383838;
    top: 5px;
}

.skin-orange aside .aside-title .all i {
    color: #530127;
    margin-left: 5px;
}

.skin-orange aside .aside-title:after {
    content: ' ';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: #530127;
}

.skin-orange aside .newsletter .icon.error h1 {
    color: #530127;
}

.skin-orange aside .newsletter .icon.error i:before {
    color: #530127;
}

.skin-orange aside .nav li.active a {
    border-top: 2px solid #530127 !important;
}

.skin-orange aside .nav li.active a i {
    color: #530127;
}

.skin-orange .article-fw .details h1 a:hover {
    color: #F8A86A;
}

.skin-orange .comments .detail .link a {
    color: #530127;
}

.skin-orange footer.footer {
    border-top: 5px solid #530127;
}

.skin-orange footer.footer .block .block-title:after {
    background-color: #530127;
}

.skin-orange footer.footer .footer-nav-horizontal li a:hover {
    color: #F8A86A;
}

.skin-orange footer.footer .footer-nav li a:hover {
    color: #F8A86A;
}

.skin-orange footer.footer .tags li a:hover {
    border-color: #F8A86A;
}

.skin-orange footer.footer .copyright {
    text-align: center;
    margin-top: 70px;
    border-top: 1px solid #222;
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.skin-orange footer.footer .copyright a {
    text-decoration: underline;
}

.skin-orange footer.footer .copyright div {
    margin-top: 7px;
}

.skin-orange footer.footer .copyright div i {
    padding: 0 3px;
}

.skin-orange footer.footer .article-mini {
    margin-bottom: 23px;
}

.skin-orange footer.footer .article-mini .inner {
    border-bottom: 0;
}

.skin-orange footer.footer .article-mini h1 {
    font-size: 14px;
}

.skin-orange footer.footer .article-mini h1 a {
    color: #ddd;
}

.skin-orange footer.footer .btn-magz {
    border-color: #fff;
    border-radius: 3px;
    font-size: 14px;
    padding-left: 13px;
    padding-right: 13px;
}

.skin-orange section.single .line {
    margin-top: 30px;
    margin-bottom: 30px;
}

.skin-orange section.single article.main-article header .details li a {
    color: #530127;
}

.skin-orange section.single article.main-article .main a {
    color: #530127;
}

.skin-orange section.single article.main-article footer .col:last-child .love.active {
    background-color: #530127;
    color: #fff;
    border-color: #530127;
}

.skin-orange section.single footer .tags li a:hover {
    color: #F8A86A;
}

.skin-orange .sharing ul li.count {
    color: #530127;
}

.skin-orange .page .element-block .element-title:after {
    background-color: #530127;
}

.skin-orange .page .element-block .colors li.primary {
    background-color: #530127;
}

.skin-orange .page .element-block .colors li.secondary {
    background-color: #FB5660;
}

.skin-orange .carousel-1 .owl-dots .owl-dot.active span {
    background-color: #530127;
}

.skin-orange .carousel-1 .owl-nav .owl-prev:hover,
.skin-orange .carousel-1 .owl-nav .owl-next:hover {
    background-color: #F8A86A;
}

.skin-orange .nav-tabs-group .nav-tabs-list li.active a {
    border-bottom: 2px solid #530127;
}

.skin-orange .nav-tabs-group .form-control {
    height: 30px;
    padding: 0;
    margin-top: 3px;
}

.skin-orange .nav-tabs-group .nav-tabs-right {
    float: right;
    display: inline-block;
    width: 100px;
}

.skin-orange .featured-author .featured-author-body .featured-author-count .item .name {
    color: #530127;
}
