<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS14.dao.CommunityDAO">

    <!-- 병원 검색 -->
    <select id="searchHospitals" resultType="com.spring.javaclassS14.vo.CommunityVO">
        SELECT h.hospitalIdx, h.hospitalName, h.hospitalCategory, h.hospitalRegion
        FROM hospital_info h
        <where>
            <choose>
                <when test="key == 'hospitalName'">
                    h.hospitalName LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="key == 'hospitalCategory'">
                    h.hospitalCategory LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="key == 'hospitalRegion'">
                    h.hospitalRegion LIKE CONCAT('%', #{keyword}, '%')
                </when>
            </choose>
        </where>
    </select>

    <!-- 모든 병원 가져오기 -->
    <select id="getAllHospitals" resultType="com.spring.javaclassS14.vo.CommunityVO">
        SELECT * FROM hospital_info order by hospitalRegion
    </select>

    <!-- 병원 ID로 병원 가져오기 -->
    <select id="getHospitalById" parameterType="int" resultType="com.spring.javaclassS14.vo.CommunityVO">
        SELECT hospitalIdx, hospitalName, hospitalCategory, hospitalRegion 
        FROM hospital_info 
        WHERE hospitalIdx = #{hospitalIdx}
    </select>

	<select id="getHospitalComments" parameterType="int" resultType="com.spring.javaclassS14.vo.CommunityVO">
	    SELECT hc.hospitalCommentIdx, hc.hospitalIdx, u.userId, 
	           hc.hospitalCommentTitle, hc.hospitalComment, 
	           hc.starRating, hc.waitingTime, hc.created_at AS createdAt
		FROM hospital_comment hc
		JOIN users u ON hc.userIdx = u.userIdx
		ORDER BY hc.created_at DESC
	</select>
	
	<select id="getHospitalCommentById" parameterType="int" resultType="com.spring.javaclassS14.vo.CommunityVO">
	    SELECT hc.hospitalCommentIdx, hc.hospitalIdx, u.userId, 
	    	hc.hospitalCommentTitle, hc.hospitalComment, 
	        hc.starRating, hc.waitingTime, hc.created_at AS createdAt,
	        h.hospitalName, h.hospitalCategory, h.hospitalRegion
	    FROM hospital_comment hc
	    JOIN users u ON hc.userIdx = u.userIdx
	    JOIN hospital_info h ON hc.hospitalIdx = h.hospitalIdx
	    WHERE hc.hospitalCommentIdx = #{hospitalCommentIdx}
	</select>
	

    <!-- 병원 댓글 삽입 -->
    <insert id="insertHospitalComment" parameterType="com.spring.javaclassS14.vo.CommunityVO">
        INSERT INTO hospital_comment 
        (hospitalIdx, userIdx, hospitalCommentTitle, hospitalComment, starRating, waitingTime, created_at)
        VALUES (#{hospitalIdx}, #{userIdx}, #{hospitalCommentTitle}, #{hospitalComment}, #{starRating}, #{waitingTime}, NOW());
    </insert>
    
</mapper>