<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.javaclassS14.dao.UserDAO">

	<select id="getUserIdCheck" resultType="com.spring.javaclassS14.vo.UserVO">
		select * from users where userId=#{userId};
	</select>
	
	<select id="getUserNickCheck" resultType="com.spring.javaclassS14.vo.UserVO">
		select * from users where nickName=#{nickName};
	</select>
	
	<select id="getUserEmailCheck" resultType="com.spring.javaclassS14.vo.UserVO">
		select * from users where email=#{email};
	</select>

	<select id="getUserNickNameEmailCheck" resultType="com.spring.javaclassS14.vo.UserVO">
		select * from users where nickName = #{nickName} and email = #{email} limit 1;
	</select>
	
	<select id="totRecCnt" resultType="int">
		select count(*) from users;
	</select>
	
	<select id="totRecCntSearch"  resultType="int">
		select count(*) from users where ${search} like concat("%",#{searchString},"%"); 
	</select>
	
	<select id="recentLog" resultType="int">
		select count(*) as recentLog from user_log where userId=#{userId} and loginTime > DATE_SUB(NOW(), INTERVAL 1 HOUR);
	</select>


	<insert id="setUserRegisterOk">
		insert into users values (default,#{vo.userId},#{vo.userPwd},#{vo.name},#{vo.nickName},#{vo.gender},#{vo.email},#{vo.tel},#{vo.userImage},#{vo.registerWay},default,#{vo.policyFlag},default,default,default,default);
	</insert>
	
	<insert id="setKakaoUserInput">
		insert into users (userId, userPwd, nickName, name, email) values (#{userId},#{userPwd},#{nickName},#{nickName},#{email});
	</insert>
	
	<insert id="setUserLog">
		insert into user_log (userId, hostIp) values (#{userId},#{hostIp});
	</insert>
	
	
	<update id="setUserPwdUpdate">
		update users set userPwd=#{userPwd} where userId=#{userId};
	</update>
	
	<update id="setUserDelete">
		update users set level=99 and userStatus='off' where userId=#{userId};
		insert into delete_users values (default, #{userId}, #{email}, default, #{deleteReason});
	</update>
</mapper>